# Data products
raw/
frames_*/
*.fits
*.png
*.mp4

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# stupid notepad++ bak
*.bak

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
